html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  background-color: pink;
  color: white;
  padding: 15px;
  margin-bottom: 0;
  font-size: em;
}

.nav a {
  color: white;
  text-decoration: none;
}

.nav a:hover {
  color: pink;
}

body {
  height: 100vh;
  width: 100vw;
  background-image: url('/home.png');
  background-size: cover;
  background-position: center;
  margin-top: 0;

}

.btn {
  background-color: pink;
  border: none;
  color: white;
  font-weight: bolder;
  margin: 10px 10px;
  padding: 15px 15px;
  border-radius: 15px;
  cursor: pointer;
}

